# Medical Appointment No Shows Analysis
### - Kritika Kumari

In this project, I will focus on Data Cleaning and Data Preprocessing of the Medical Appointment No Shows Dataset.
The dataset contains patient appointment data.

## Importing the required libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read the dataset to a pandas dataframe

file_name = "no_shows.csv"
df = pd.read_csv(file_name)

## Data Exploration

In [3]:
#Display that first few rows of the dataset

df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

Display the number of rows and columns in the dataset

In [4]:
#Number of rows
print("Number of rows:", len(df))

#Number of columns
print("Number of columns:", len(df.columns))

Number of rows: 110527
Number of columns: 14

Identifying the Data types

In [5]:
df.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

Changing the data types of columns:

In [6]:
#For integers

df['PatientId'] = df['PatientId'].astype('int64')

In [7]:
#For binary columns

bin_cols = ['Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received']

for col in bin_cols:
    df[col] = df[col].astype('bool')

In [8]:
#For date types

df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], errors='coerce')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], errors='coerce')

Checking the updated data types

In [9]:
df.dtypes

PatientId                       int64
AppointmentID                   int64
Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Neighbourhood                  object
Scholarship                      bool
Hipertension                     bool
Diabetes                         bool
Alcoholism                       bool
Handcap                          bool
SMS_received                     bool
No-show                        object
dtype: object

In [10]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,29872499824296,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,False,True,False,False,False,False,No
1,558997776694438,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,False,False,False,False,False,No
2,4262962299951,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,False,False,False,False,False,False,No
3,867951213174,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No
4,8841186448183,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,False,True,True,False,False,False,No

In [11]:
# Remove timezone information from datetime columns

df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.tz_localize(None)
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.tz_localize(None)

In [12]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,29872499824296,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,No
1,558997776694438,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,No
2,4262962299951,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,No
3,867951213174,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No
4,8841186448183,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,No

## Data Cleaning

Renaming columns

In [13]:
df = df.rename(columns={'PatientId': 'Patient_Id', 'AppointmentID': 'Appointment_Id',
                        'ScheduledDay': 'Scheduled_Day', 'AppointmentDay': 'Appointment_Day', 'No-show': 'No_show'})

In [14]:
df['No_show_bool'] = df['No_show'].str.strip().replace({'Yes': 1, 'No': 0}).astype('bool')

<ipython-input-14-bc991e2af987>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['No_show_bool'] = df['No_show'].str.strip().replace({'Yes': 1, 'No': 0}).astype('bool')

For outliers and consistency

In [15]:
#For outliers in Age
df = df[df['Age'].between(0, 120)]

In [16]:
#For logical relationships in dates
df = df[df['Scheduled_Day'] <= df['Appointment_Day']]

For duplicated data

In [17]:
#Identifying duplicate rows

duplicated_data = df[df.duplicated(keep=False)]
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

There's no duplicated rows, but we can remove them using:
new_df = df.drop_duplicates()

For missing data

In [18]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Patient_Id         0
Appointment_Id     0
Gender             0
Scheduled_Day      0
Appointment_Day    0
Age                0
Neighbourhood      0
Scholarship        0
Hipertension       0
Diabetes           0
Alcoholism         0
Handcap            0
SMS_received       0
No_show            0
No_show_bool       0
dtype: int64

In [20]:
#Identifying missing values column wise

missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
  print(missing_data[column].value_counts())
  print("")

Patient_Id
False    71959
Name: count, dtype: int64

Appointment_Id
False    71959
Name: count, dtype: int64

Gender
False    71959
Name: count, dtype: int64

Scheduled_Day
False    71959
Name: count, dtype: int64

Appointment_Day
False    71959
Name: count, dtype: int64

Age
False    71959
Name: count, dtype: int64

Neighbourhood
False    71959
Name: count, dtype: int64

Scholarship
False    71959
Name: count, dtype: int64

Hipertension
False    71959
Name: count, dtype: int64

Diabetes
False    71959
Name: count, dtype: int64

Alcoholism
False    71959
Name: count, dtype: int64

Handcap
False    71959
Name: count, dtype: int64

SMS_received
False    71959
Name: count, dtype: int64

No_show
False    71959
Name: count, dtype: int64

No_show_bool
False    71959
Name: count, dtype: int64

There's no missing data but we can use different methods to impute or drop missing data.

For example, we'd drop from columns PatientId and AppointmentId because they're essential columns. For numerical columns we can impute with mean or median. For categorical columns we can impute with the most frequent value.

### Exporting cleaned dataset:

In [21]:
df.to_csv("no_shows_cleaned.csv", index=False)
print("Saved the cleaned dataset")

Saved the cleaned dataset